body {
  background-color: mintcream; }

ul {
  list-style-type: none;
  padding-left: 0; }
  ul .memberListItem {
    padding: 2px;
    margin: 5px;
    border: 2px solid;
    border-radius: 5px;
    width: 90%;
    font-size: 120%;
    background-color: white; }
    ul .memberListItem span {
      display: inline-block;
      width: 33%; }
  ul .taskListItem {
    padding: 2px;
    margin: 5px;
    border: 2px solid;
    border-radius: 10px;
    width: 90%;
    font-size: 120%; }
    ul .taskListItem span {
      display: inline-block;
      width: 33%; }
  ul .evenTaskRow {
    background-color: white; }
  ul .oddTaskRow {
    background-color: lightgreen; }

#webpageHeader {
  background-color: #F2F2FA;
  height: 30px;
  margin-top: -50px; }

#headerMessage {
  text-align: center;
  font-size: 150%; }

