$element-padding: 2px;

body {
    background-color: mintcream;
}

ul {
    list-style-type: none;
    padding-left: 0;

	.memberListItem {
		padding: $element-padding;
		margin: 5px;
		border: $element-padding solid;
		border-radius: 5px;
		width: 90%;
		font-size: 120%;
		background-color: white;
		position: relative;

		span {
			display:inline-block;
		}

		.memberId {
			visibility: hidden;
			width: 75px;
		}

		.memberName {
			position: absolute;
			float: left;
			left: 1%;
		}

		.memberTask {
			position: absolute;
			float: left;
			left: 35%;
		}

		.memberDelete {
			float: right;
			margin-top: -3px;
		}
	}

	.taskListItem {
		padding: $element-padding;
		margin: 5px;
		border: $element-padding solid;
		border-radius: 10px;
		width: 90%;
		font-size: 120%;
		
		span {
			display:inline-block;
			width: 20%;
		}
	}

	.evenTaskRow {
		background-color: white;
	}

	.oddTaskRow {
		background-color: lightgreen;
	}
}

#webpageHeader {
	background-color: #F2F2FA;
	height: 30px;
	margin-top: -50px;
}

#headerMessage {
	text-align: center;
	font-size: 150%;
}
