body {
    background-color: #ac91ce;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.taskListItem {
    background-color: white;
    padding: 2px;
    margin: 5px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    width: 90%;
}