$element-padding: 2px;

body {
    background-color: mintcream;
}

ul {
    list-style-type: none;
    padding-left: 0;

	.taskListItem {
		padding: $element-padding;
		margin: 5px;
		border: $element-padding solid;
		border-radius: 10px;
		width: 90%;
		font-size: 120%;
		
		span {
			display:inline-block;
			width: 50%;
		}
	}

	.evenTaskRow {
		background-color: white;
	}

	.oddTaskRow {
		background-color: lightgreen;
	}
}

#webpageHeader {
	background-color: #F2F2FA;
	height: 30px;
	margin-top: -50px;
}

#headerMessage {
	text-align: center;
	font-size: 150%;
}
