@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>Home Page</title>   
    @Styles.Render("~/Content/Index.css")
    @Scripts.Render("~/Scripts/Index.js")
</head>

<body class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <h3>All Tasks:</h3>
            <ul id="allTasks"></ul>
        </div>


        <div class="col-sm-5">
            <form id="newTaskForm" method="post">
                <h3>Create a new Task</h3>
                <p>
                    <label for="taskTitle">Title:</label>
                    <input type="text" name="Title" />
                </p>
                <p>
                    <label for="taskBody">Body:</label>
                    <input type="text" name="Body" />
                </p>
                <input type="button" id="saveTask" value="Save" />
            </form>

            <p id="singleAddTask"></p>
        </div>
    </div>

</body>
